.container {
    width: 135px;
    height: 151px;
    gap: 3px;
}

.score {
    width: 62px;
    height: 112px;
    gap: 0px;
    opacity: 0px;

}
.score h1{
    font-size: 100px;
    line-height: 100px;
    font-weight: 500;
}